.skills {
    display: flex;
    justify-content: center;
    background-color: #252527;
    padding: 30px 0;
}

.containerSkillsInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.containerSkills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

.skillDesc {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.containerSkill {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100%;
}

.skillIcon {
    display: flex;
}
.skillIcon img {
    width: 150px;
    height: 150px;
}

.skillNameContainer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}


.line {
    width: 100px;
    height: 2px;
    margin-top: 60px;
    background-color: #6ab2af;
}
@media (min-width: 324px) {
    .line {
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
    .skills {
        height: 100vh;
    }
    .containerSkillsInfo {
        width: 80%;
    }
    .containerSkills {
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0px;
    }
    .containerSkill {
        width: 30%;
        height: 300px;
        margin-bottom: 0px;
    }
    .skillIcon img{
        height: 150px;
        width: 150px;
    }
}