.skills {
    display: flex;
    justify-content: center;
    background-color: #c9f2ea;
}

.containerSkillsInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
}

.containerTitle {
    border: 1px solid;
    width: 100%;
    height: 10%;
    text-align: center;
}

.containerSkills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}


.skillDesc {
    display: flex;
    height: 30%;
    width: 100%;
    background-color: #727272;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.containerSkill {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    margin-bottom: 20px;
}

.skill {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 100%;
}

.skillIcon {
    display: flex;
    background-color: #727272;
    width: 100px;
    height: 100px;
}

.skillNameContainer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skillName {
    background-color: #727272;
}

@media (min-width: 768px) {
    .skills {
        height: 100vh;
    }
    .containerSkillsInfo {
        width: 80%;
    }
    .containerSkills {
        height: 80%;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0px;
    }
    .containerSkill {
        width: 25%;
        height: 100%;
        margin-bottom: 0px;
    }
    .skillIcon {
        height: 150px;
        width: 150px;
    }
}