.header {
    height: 70px;
    background-color: #b7e2ff;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    border: 1px solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}
