.header {
    height: 70px;
    background-color: #b7e2ff;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}
