.footer
{
    display: flex;
    justify-content: center;

    height: 400px;
    padding: 100px 0;
    background-color: #252527;
}

.containerFooter
{
    composes: containerInfo from '../../index.css';
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.contacts
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    height: 50%; 
}

.contacts img
{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #f2f2f2;
}

.reserve
{
    composes: smallText from '../../index.css';

    text-align: center;
}

@media (min-width: 768px)
{
    .footer
    {
        height: 500px;
    }
    .containerFooter
    {
        width: 80%;
    }
    .contacts
    {
        justify-content: space-between;
        width: 60%;
    }
    img
    {
        width: 100px;
        height: 100px;
    }
}
@media (min-width: 1024px) {
    .contacts
    {
        width: 50%;
    }
}
