.navMenu
{
    display: flex;
    justify-content: space-between;
    composes: smallText from '../../../index.css';
    width: 100%; 
}

.navMenu a
{
    text-decoration: none;
    color: black;

    transition: .4s;
}
.navMenu a:hover{
    background: #6ab2af;
    color: white;
}
@media (min-width: 768px)
{
    .navMenu
    {
        width: 400px;

    }
}
