html,
body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/

  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.containerInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.line
{
  width: 100px;
  height: 2px;

  background-color: #6ab2af;
}
.smallText {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.mediumText {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  line-height: 1.2;
}