.mainInfo {
    height: 100vh; /*vh это единица измерения которая под любое устройство
    сделает высоту/ширину во весь экран (viewheight, viewwidth)*/
    background-color: #ffe1f5;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
}

.greeting {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.photo {
    width: 200px;
    height: 250px;
    background-color: #f2f2f2;
}

@media (min-width: 768px) {
    .container{
        width: 80%;
    }
    .content {
        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .greeting {
        text-align: left;
    }
}