.mainInfo {
    height: 100vh; /*vh это единица измерения которая под любое устройство
    сделает высоту/ширину во весь экран (viewheight, viewwidth)*/
    background-color: #1f1f20;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.greeting {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f2f2f2;
}

.greeting span:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    font-size: 40px;
}
.greeting span:nth-child(2):after {
    content: '';
    position: absolute;
    width: 220px;
    height: 15px;
    background-color: #6ab2af;
    bottom: 5px;
    right: 0px;
    z-index: -1;
}
.greeting span:nth-child(2) span {
    position: relative;
    z-index: 0;
}

.greeting span:nth-child(2) span:nth-child(2):after {
    content: '';
    position: absolute;
    width: 150px;
    height: 15px;
    background-color: #6ab2af;
    bottom: 5px;
    right: 0px;
    z-index: -1;
}
h1 {
    font-size: 22px;
    font-weight: normal;
}

.photo {
    margin-bottom: 90px;
    position: relative;
    z-index: 0;
}
.image {
    width: 200px;
    height: 250px;
    background-color: #f2f2f2;
}
.image img {
    width: 200px;
    height: 250px;
}
.photo .image:before {
    content: '';
    position: absolute;
    height: 250px;
    width: 200px;
    border: 4px solid #6ab2af;
    bottom: 3px;
    left: 3px;
    z-index: -1;
}
@media (min-width: 415px) {
    .greeting span:nth-child(2) span:nth-child(1):after {
        content: '';
        position: absolute;
        width: 180px;
        height: 15px;
        background-color: #6ab2af;
        bottom: 5px;
        right: -20px;
        z-index: -1;
    }
}
@media (min-width: 768px) {
    .container{
        width: 80%;
    }
    .content {
        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .greeting {
        text-align: left;
    }
    .photo {
        margin-bottom: 0;
    }
}