.contacts
{
    display: flex;
    justify-content: center;

    height: 600px;
    padding: 30px 0;

    background-color: #1f1f20;
}

.containerContacts
{
    display: flex;
    align-items: center;
     flex-direction: column;
    justify-content: space-between;

    width: 90%; 
}

.content
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 80%;
}


.form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;
}
.form input
{
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
}

.form textarea
{
    width: 100%;
    height: 200px;
}

.line
{
    width: 100px;
    height: 2px;
    margin-top: -10px;
    background-color: #6ab2af;
}
@media (min-width: 768px)
{
    .contacts
    {
        display: flex;
        justify-content: center;

        height: 700px;
        padding: 30px 0;
        background-color: #1f1f20;
    }
    .container
    {
        width: 80%;
    }
    .content
    {
        justify-content: space-between;
    }
    .form
    {
        width: 400px;
        height: 300px;
        margin-top: 60px;
    }
}
