.contacts
{
    display: flex;
    justify-content: center;

    padding: 100px 0;

    background-color: #1f1f20;

    position: relative;
}

.containerContacts
{
    display: flex;
    align-items: center;
     flex-direction: column;
    justify-content: space-between;

    width: 90%; 
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}
.form input
{
    width: 100%;
    height: 30px;

    text-indent: 20px;

    border: 0;
    color: #f2f2f2;
    background-color: #252527;
    outline: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;

    transition: 0.5s;
}
.form input:focus{
    box-shadow: 0 0 20px #6ab2af;
    transition: 0.5s;
}
.textareaForm {
    margin-bottom: 50px;
}
.form textarea
{
    width: 100%;
    height: 200px;
    text-indent: 20px;
    padding-top: 10px;

    border: 0;
    background-color: #252527;
    color: #f2f2f2;
    outline: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;

    transition: 0.5s;

    resize: none;
}
.form textarea:focus{
    box-shadow: 0 0 20px #6ab2af;
    transition: 0.5s;
}
.form.error input{
    box-shadow: 0 0 20px red;
}
.form.error textarea{
    box-shadow: 0 0 20px red;
}
.form span {
    color: red;
}
.f {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
@media (min-width: 768px)
{
    .contacts
    {
        display: flex;
        justify-content: center;

        background-color: #1f1f20;
    }
    .container
    {
        width: 80%;
    }
    .form
    {
        width: 500px;
    }
}

