.hire
{
    composes: containerInfo from '../../index.css';
    justify-content: center;

    height: 350px;
    padding: 30px 0;

    background-color: #252527; 
}
.containerHire
{
    composes: containerInfo from '../../index.css';
    width: 90%;
    height: 100%;
}
.line
{
    margin-top: 80px;

    composes: line from '../../index.css';
}

@media (min-width: 356px)
{
    .line
    {
        margin-top: -30px;
    }
}
@media (min-width: 498px)
{
    .line
    {
        margin-top: -80px;
    }
}
@media (min-width: 768px)
{
    .containerHire
    {
        width: 80%;
    }
    .line
    {
        margin-top: -90px;
    }
}
@media (min-width: 983px)
{
    .line
    {
        margin-top: -160px;
    }
}
