.hire {
    background-color: #252527;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.containerHire {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.line {
    width: 100px;
    height: 2px;
    margin-top: 80px;
    background-color: #6ab2af;
}

@media (min-width: 356px) {
    .line {
        margin-top: -30px;
    }
}
@media (min-width: 498px) {
    .line {
        margin-top: -100px;
    }
}
@media (min-width: 768px) {
    .containerHire {
        width: 80%;
    }
    .line {
        margin-top: -90px;
    }
}
@media (min-width: 983px) {
    .line {
        margin-top: -160px;
    }
}