.hire
{
    composes: containerInfo from '../../index.css';
    justify-content: center;

    padding: 100px 0;

    background-color: #252527;

    position: relative;
}
.containerHire
{
    composes: containerInfo from '../../index.css';
    width: 90%;
    height: 150px;
}


@media (min-width: 768px)
{
    .containerHire
    {
        width: 80%;
        height: 250px;
    }
}
@media (min-width: 1024px)
{
    .containerHire
    {
        height: 230px;
    }
}

